@media (min-width: 1024.1px){
[data-layout=horizontal] .page-content {
    margin-top: 0;
}
}

[data-layout=horizontal] .page-content {
  padding: 0;
}

.user-chat {
  width: calc(100% - 300px);
}
/* @media (min-width: 1024.1px){
[data-layout=horizontal] .chat-leftsidebar {
  height: 99vh;
}
} */
[data-layout=horizontal] .chat-leftsidebar {
  height: 99vh;
}


[data-layout=horizontal] .chat-conversation {
  height: calc(83vh);
}

.convers{
  height: 81.5vh;
}
@media (max-width: 1650px){

.convers {
    height: 76.5vh;
}
}


.pending-friends:hover{
  background-color:#f5f8fc;
}